/ejb/build/
/web/build/
/ejb/dist/
/build/
/dist/
/web/dist/
/ejb/nbproject/
/web/nbproject/
/nbproject/
nbproject/private/private.properties
web/nbproject/jaxws-build.xml
nbproject/private/private.xml

/PruebaJAVA-ejb/build/
/PruebaJAVA-ejb/dist/
/PruebaJAVA-war/build/
/PruebaJAVA-war/dist/
/PruebaJAVA-ejb/nbproject/private/
/PruebaJAVA-war/nbproject/private/